:root {
  --bg-color: #050505;
  --text-color: #ffffff;
  --accent-color: #3fae70; /* Custom Green */
  --secondary-color: #00ccff; /* Neon Blue */
  --font-main: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-mono: "Fira Code", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}
